/* Will overwrite the BS css later on instead */

.form-control,
.card, 
.card_login {
	background-color: transparent;
	border: none;
	color: #ffffff;
	


}
.card {
	height: 100%;
}
hr {
	margin-top: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    border: 0;
}

/* Login */

.navbar-brand p {
	color: #ffffff;
}

.index_background,
.btn,
.form-control:focus,
.btn-primary,
.btn-success {
	background-color: #343a40;
}


lol {
	background-image: url("../files/images/1.jpg") ;
	height: 500px;
	
}