/* Will overwrite the BS css later on instead */

.form-control,
.card, 
.card_login {
	background-color: transparent;
	border: none;
	color: #ffffff;
	


}
.card {
	height: 100%;
}
hr {
	margin-top: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    border: 0;
}

/* Login */

.index_background {
	background: url('/static/custom/images/main-background.jpg') no-repeat center;	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-wrapper {
	margin-left: 0px;
	background: transparent;
}

.btn,
.form-control:focus,
.btn-primary,
.btn-success {
	
	background-color: #343a40;
}