{% extends "base.html" %}
{% block css %}
<link href="{{ url_for('static', filename='custom/css/index.css') }}" rel="stylesheet">
{% endblock css %}
{% block navbar %}
  
{% endblock navbar %}
{% block main_content %}
<div class="container">
	<div class="card card-login mx-auto mt-5">
		<div class="card-header">Create Account / Login</div>
		<div class="card">
			<div class="card-body">
				<form>
					<div class="form-group">
						<label for="username">Enter your user name please</label>
						<input name="username" type="text" class="form-control" placeholder="User name" required>

					</div>
					<hr>
					<div class="form-group">
						<label for="user_password">Password</label>
						<input class="form-control" name="user_password" type="password" placeholder="Password" required>
					</div>
					<hr>
					<p>So far {{members}} profiles created for testing.</p>
					<button onclick="return create_profile()" class="btn btn-primary btn-block">Create account</button>
					<button onclick="return check_login_details();" class="btn btn-success btn-block">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
{% block footer %}
  
{% endblock footer %}

{% block scripts %}
	<script src="{{ url_for('static', filename='custom/js/index.js') }}"></script>  
{% endblock scripts %}