 {% extends "base.html" %}

	 {% block navbar_brand %}
	<a class="navbar-brand" href="/{{user_name}}">
		<span id="user_name">{{user_name}}</span> :
		<span id="riddle_profile">{{riddle_profile}}</span>
	</a>
	{% endblock navbar_brand %} {% block riddle_g_nav %}
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
		<h5 id="right-answers"></h5>
	
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
		<h5 id="wrong-answers"></h5>
	
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
		<h5 id="skipped-questions"></h5>
	
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
	
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
	
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
	
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
	
	</li>
	{% endblock riddle_g_nav %}
	{% block main_content %}


	<div id="riddle-game" class="card mt-1 text-center">
		<div class="card-header mb-3">Riddle game</div>
		<div class="card-deck">
			<div class="card">
				<div class="card-header">
					<h3 id="question">{{question}}</h3>
				</div>
				<form onsubmit="return riddle_game_answer(this)">
					<div class="form-group-sm">
						<input name="answer" type="text" class="form-control text-center" placeholder="Your answer?" required>
					</div>
					<button type="submit" class="btn btn-success">Submit Answer</button>
					<br>
					<button type="submit" onclick="skip_question()" class="btn btn-warning">Skip Question</button>
					<button type="submit" onclick="skip_question()" class="btn btn-danger">Pass Question</button>
				</form>
			</div>
			<div id="riddle-game-result" class="card">
				<h3 id="result"></h3>
			</div>
		</div>
		<div class="card-footer mt-3"></div>
	</div>

	{% endblock main_content %} {% block scripts %}
	<script>
		$(document).ready(function () {
			show_riddle_game();
		})
	</script> {% endblock scripts %}