{% extends "base.html" %} {% block main_content %}



<div class="container">
	<h2 class="text-center">Setting</h2>
	<div class="card-deck">
		<div class="card card-login mt-5">
			<div class="card-header text-center font-weight-bold">Please choose how to play</div>
			<div class="card-body">
				<form onsubmit="return create_riddle_game(this)">
					<div class="form-group">
						<label for="riddle_profile">Name your profile:</label>
						<input name="riddle_profile" type="text" class="form-control" placeholder="Profile name" required>
					</div>
					<div class="form-group">
						<label for="categories">Category:</label>
						<select name="categories">
							<option value="all">All questions</option>
							<option value="general">General</option>
							<option value="mixed">Mixed</option>
						</select>
					</div>
					<div class="form-group">
						<label for="categories">Mods</label>
						<select name="mods">
							<option value="none">None</option>
							<option value="edless">Endless</option>
							<option value="Something">Something</option>
							<option value="Something">Something</option>
						</select>
					</div>
					<div class="form-group">
						<input name="tries" type="number" class="form-control" value="1" min="1">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Start Game</button>
				</form>
			</div>
		</div>
		<div class="card mt-5">
			<div class="card-header text-center font-weight-bold">Info</div>
			<div class="card-body">
				<ul>
					<li>
						<p class="font-weight-bold"> Please choose category first</p>
					</li>
					<li>
						<ul> <p class="font-weight-bold"> Modes</p>
							<li>If you do not select "Endless mode you can answer question wrong as many times as you want"<br>
							However your wrong answerrs will be still added to your final statistics</li>
							<li>With Endless mode you play till your tries last<br>
							By default 1 try</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</div>

{% endblock main_content %}