{% extends "base.html" %} 

{% block css %}
<link href="{{ url_for('static', filename='custom/css/riddle.css') }}" rel="stylesheet">
{% endblock css %}

{% block main_content %}
<h1 class="py-5 text-center">Statistics</h1>
<!-- User statics -->
<div class="row">
	<div class="col-md-10 offset-md-1">		
		<div class="card mb-3">
			<div class="card-header">
				<i class="fa fa-table"></i>
				Score for user {{ user_name | title }}</div>
			<div class="card-body">
				{% if finished_games %}
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>User / Profile</th>
								<th>Questions</th>
								<th class="text-green">Correct</th>
								<th class="text-red">Wrong</th>
								<th class="text-yellow">Skipped</th>
								<th class="text-red">Deleted</th>
								<th>Categories</th>
								<th>Mod</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>User / Profile</th>
								<th>Questions</th>
								<th class="text-green">Correct</th>
								<th class="text-red">Wrong</th>
								<th class="text-yellow">Skipped</th>
								<th class="text-red">Deleted</th>
								<th>Categories</th>
								<th>Mod</th>
							</tr>
						</tfoot>
						<tbody>
							{% for profile in statistics %}
							<tr>
								<td>{{ profile.id | title }} / {{ profile.player_name | title }}</td>
								<td>{{ profile.questions_in_total }}</td>
								<td>{{ profile.right_answers }}</td>
								<td>{{ profile.wrong_answers }}</td>
								<td>{{ profile.skipped_questions }}</td>
								<td>{{ profile.deleted_questions }}</td>
								<td>{{ profile.categories | title }}</td>
				
								{% if profile.mods == 'endless' %}
								<td class="text-green">{{ profile.mods | title }}</td>
								{% else %}
								<td class="text-red">{{ profile.mods | title }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<h3 class="text-center"> No score to show</h3>
				<br>
				<div class="row justify-content-center">
					<a href="/{{user_name}}/riddle-g-setting" class="btn btn-success">Play the game</a>					
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!-- Top 10 -->
<div class="row">
	<div class="col-md-10 offset-md-1">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fa fa-table"></i>
				Top 10</div>
			<div class="card-body">
				{% if statistics %}
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>User / Profile</th>								
								<th>Questions</th>
								<th class="text-green">Correct</th>
								<th class="text-red">Wrong</th>
								<th class="text-yellow">Skipped</th>
								<th class="text-red">Deleted</th>
								<th>Categories</th>
								<th>Mod</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>User / Profile</th>
								<th>Questions</th>
								<th class="text-green">Correct</th>
								<th class="text-red">Wrong</th>
								<th class="text-yellow">Skipped</th>
								<th class="text-red">Deleted</th>
								<th>Categories</th>
								<th>Mod</th>
							</tr>
						</tfoot>
						<tbody>
							{% for profile in statistics %}
							<tr>
								<td>{{ profile.id | title }} / {{ profile.player_name | title }}</td>
								<td>{{ profile.questions_in_total }}</td>
								<td>{{ profile.right_answers }}</td>
								<td>{{ profile.wrong_answers }}</td>
								<td>{{ profile.skipped_questions }}</td>
								<td>{{ profile.deleted_questions }}</td>
								<td>{{ profile.categories | title }}</td>

								{% if profile.mods == 'endless' %}
								<td class="text-green">{{ profile.mods | title }}</td>
								{% else %}
								<td class="text-red">{{ profile.mods | title }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<h3 class="text-center"> No statistics to show</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock main_content %}

{% block alert_box %}{% endblock alert_box %}

{% block scripts %}
<script>
	$(document).ready(function () {
		let riddle_profile_name
		show_statistics(riddle_profile_name);
	})
</script>

{% endblock scripts %}