{% extends "base.html" %} {% block main_content %}



	<div class="card-deck">
		<div class="card mt-5">
			<div class="card-header text-center font-weight-bold">Profiles
				<hr>
				<form>
					<div class="form-group">
						<select name="categories">
							{% if finished_games %}
							 {% for profile in finished_games %}
							<option value="{{profile}}">{{profile}}</option>
							{% endfor %}
							{% else %}
							<option value="no_profile">No profiles to show</option>
							{% endif %}
						</select>
					</div>
				</form>
			</div>
			
			<div class="card-body text-center">
				{% if finished_games %} 
					<h6>{{user_profile.player_name}}</h6>
					<hr>
					<h3 class="${css_class}">Score: {{user_profile.score}}</h3>
					<p class="card-text">Which is
						<span class="${css_class}">${message}</span>
					</p>
				{% else %}
					<h3> Play the game?</h3>
					<br>
					<a href="/{{user_name}}/riddle-g-setting" class="btn btn-success">Play the game</a>				
				{% endif %}
				<div class="card-body" id="result"></div>
			</div>
			<div class="card-footer"></div>
		</div>
		<div class="card mt-5">
			<div class="card-header text-center font-weight-bold">Chat</div>
			<div class="card-body d-flex align-items-center justify-content-center">
				
			</div>
			<div class="card-footer"></div>
		</div>
		<div id="alerts" class="card text-center">
			<header class="card-header">
				<div class="text-left">
				</div>
			</header>
			<div class="card-body">
				<p id="message-box"></p>
			</div>
		</div>
	</div>

{% endblock main_content %}